.btn {
    background-color: transparent;
    border: 2px solid aliceblue;
    padding: 15px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
    color: aliceblue;
}

.btn:hover {
    color: aliceblue;
    background-color: #010b28;
    transition-duration: 0.5s;
    transform: translateY(-7px);
}